.appContainer {
  width: 100%;
  max-width: 480px;
  /* Phone format */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #1e2025;
  /* Card background color */
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}